<button (click)="zoom('in')">Zoom In</button>
  <button (click)="zoom('out')">Zoom Out</button>
<div class="container">
   <div id="diagram" #diagram style="height: 90vh; position: relative" ngDraggable>
    <div class="nodes" id="created" [style.left.%]="20" [style.top.%]="10"><span>CREATED</span></div>
    <div *ngFor="let state of states; let index = index" [id]="state.id" class="nodes" [style.left.%]="40+(index*10)" [style.top.%]="40">{{state.name}}</div>
    <div class="nodes" id="approved" [style.right.%]="10" [style.top.%]="30">APPROVED</div>
    <div class="nodes" id="denied" [style.right.%]="10" [style.top.%]="50">DENIED</div>
  </div>
</div>